<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="card col-12 text-center">
            <img class="card-img-top" src="https://i.ytimg.com/vi/3xYXUeSmb-Y/maxresdefault.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="display-4">YOU SHALL NOT PASS!</h3>
                <p class="card-text">You must be trying some sneaky stuff to be here! However, the grey wizzard is here to remind you that <em><u>"You Shall Not Pass!"</u></em> 
                <p>
                    <strong>Att:</strong> 3000 &emsp; <strong>Def:</strong> 9999
                </p>
                </p>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>